header
    display: flex
    flex-direction: column
div.menu 
    display: flex
    justify-content: space-evenly
    background: $medium_blue
    padding: 1rem 
    font-weight: 800
img.logo 
    margin: 100px
    max-width: 500px 
    min-width: 250px
    align-self: center


     
