body 
    font-family: $main_font
    background: $light_blue
    color: white
div.main
    background: black 
    justify-content: space-around
    font-size: 2rem 
img
    width: 50%
    align-self: center
div.columns
    display: flex
    width: 100%
div.column
    width: 50%
 
  
