body 
    font-family: $main_font
    background: $dark_blue
    color: white
    div.main
    background: black 
    justify-content: space-around
    div.columns
        background: pink
    div.column
    width: 50%
  
