header
    display: flex
    flex-direction: column
    font-family: roboto
    font-weight: bolder
div.menu 
    display: flex
    justify-content: space-evenly
    background: $medium_blue
    padding: 1rem 
    color: $dark_blue
    decoration: none
div.menu a  
    text-decoration: none 
    color: $light_blue
img.logo 
    margin: 100px
    max-width: 500px 
    min-width: 250px
    align-self: center


     
